<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopPassive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DesktopPassive.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FontChn" serializeAs="String">
                <value>宋体, 9pt</value>
            </setting>
            <setting name="FontEng" serializeAs="String">
                <value>Arial, 9pt</value>
            </setting>
            <setting name="WriteCard" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WriteMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WriteType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WritePosition" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="WriteAutoAdd" serializeAs="String">
                <value>False</value>
            </setting>
        </DesktopPassive.Properties.Settings>
    </userSettings>
</configuration>